<ion-content>
  <ion-grid>
    <ion-row class="rowBackground">
      <ion-col>
        <ion-input
          placeholder="Topic Name..."
          [(ngModel)]="newTopic.topic_name"
          (ionChange)="addInput()"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="cancelTopic()" class="cancelButton"
          >CANCEL</ion-button
        >
        <ion-button
          (click)="addTopic()"
          class="addButton"
          [disabled]="disableInput"
          >ADD</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
