.cardImg {
  background-image: url('../../assets/cardImg.svg');
  height: 175px;
  background-size: cover;

  background-repeat: no-repeat;
}

ion-card {
  border-radius: 15px;
}

ion-segment-button {
  --border-radius: 28px;
  --border-color: var(--ion-color-medium-contrast);
  --border-style: solid;
  --border-width: 2px;
  --background-checked: var(--ion-color-medium-contrast);
  --color-checked: var(--ion-segment-checked-color);
  --color-hover: var(--ion-color-medium-contrast);
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
  --color: var(--ion-segment-color);
  margin-left: 20px;
}

.date {
  margin-bottom: -20px;
  margin-top: -10px;
}

.ion-text-right,
.ion-text-left {
  color: var(--ion-segment-color);
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}

.progress {
  height: 10px;

  --buffer-background: var(--ion-buffer-progress-color);
  --progress-background: var(--ion-progress-bar-color);
  border-radius: 5px;
}

.column-border {
  border-right: var(--ion-font-color) 1px solid;
}

ion-card {
  --background: var(--ion-color-dark-contrast) !important;

  ion-card-content {
    --background: var(--ion-color-dark-contrast) !important;

    ion-list {
      --background: var(--ion-color-dark-contrast) !important;
      padding: 0;
      ion-list-header {
        --background: var(--ion-color-dark-contrast) !important;
      }
      ion-item {
        --background: var(--ion-color-dark-contrast) !important;
      }
    }
  }
}

::ng-deep
  .mat-form-field-appearance-legacy
  .mat-form-field-prefix
  .mat-datepicker-toggle-default-icon {
  width: 1em;
  color: white;
  font-size: 40px;
  margin-top: -10px;
  margin-left: 18px;
}

input.mat-input-element {
  margin-top: -0.0625em;
  font-size: 20px;
  color: white;
  margin-left: 50px;
}
.data {
  letter-spacing: 0;
  color: var(--ion-font-color);
  opacity: 1;
  text-align: center;
  font-size: 18px;
  font-family: Regular Roboto;
}

.dataHeading {
  letter-spacing: 0;
  color: var(--ion-font-color);
  opacity: 1;
  text-align: center;
  font-size: 24px;
  font-family: Regular Roboto;
}

.cardBoxShadow {
  box-shadow: 0px 3px 25px var(--ion-box-shadow);
  border-radius: 15px;
  opacity: 1;
  min-height: 60vh;
}

h1 {
  text-align: left;
  font-size: 38px;

  letter-spacing: 0;
  color: var(--color-heading);
  opacity: 1;
}

::ng-deep .mat-form-field-label {
  margin-left: 20px !important;
  overflow: visible !important;
  z-index: 1 !important;
  margin-top: -7px !important;
  background: var(--ion-color-dark-contrast) !important;
  width: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  overflow: visible !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.select {
  width: 25%;
  border: 2px var(--ion-mat-field-color) solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
