ion-row {
  border-radius: 24px;
  margin: 0px 9px 10px 9px;
  opacity: 1px;
  background: var(--ion-row-background);
}
.heading {
  text-align: left;

  letter-spacing: 0;
  color: var(--ion-color);
  opacity: 1;
}

.cancelButton {
  margin: 10px;
  font-size: 16px;
  --background: var(--ion-button-color);
  color: var(--ion-segment-checked-color);
  --border-radius: 24px;
  height: 36px;
}

.addButton {
  margin: 10px;
  font-size: 16px;
  --background: var(--ion-segment-checked-color);
  color: var(--ion-button-color);
  --border-radius: 24px;
  height: 36px;
}
