<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="auto">
        <h1>Quiz</h1>
      </ion-col>
      <ion-col class="coursematselect">
        <mat-form-field class="select">
          <mat-label>Select BATCH</mat-label>
          <mat-select
            [(ngModel)]="selectedCourse"
            (selectionChange)="getCourse()"
            [compareWith]="compareObjects"
          >
            <mat-option *ngFor="let course of courseList" [value]="course">
              {{course.program}}-{{course.course_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-row class="topicmatselect">
            <ion-col offset="1">
              <mat-form-field class="selectfolder">
                <mat-label> Select Folder</mat-label>
                <ion-row>
                  <ion-col size="auto"> <mat-icon>folder</mat-icon></ion-col>
                  <ion-col>
                    <mat-select
                      [(ngModel)]="selectedTopic"
                      (selectionChange)="getQueList()"
                    >
                      <mat-option *ngFor="let topic of topics" [value]="topic">
                        {{topic.topic_name}}
                      </mat-option>
                    </mat-select>
                  </ion-col>
                </ion-row>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="questions.length===0" offset="4">
              <img src="../../assets/thinking Question.svg" alt="" />
              <ion-text>
                <h2 class="font">No Question Added Yet</h2>
                <p>Add a New Question from the Button Down Bellow..</p>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row lines="none" *ngFor="let question of questions">
            <ion-col
              ><ion-row>
                <ion-col size="9">
                  <ion-text class="question"
                    >{{question.question}}
                  </ion-text></ion-col
                >
                <ion-col>
                  <ion-button fill="clear">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear">
                    <ion-icon name="trash"></ion-icon> </ion-button
                ></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="question">
                  <ion-radio-group [value]="is_correct">
                    <ion-item
                      lines="none"
                      *ngFor="let option of question.options;"
                    >
                      <ion-label class="option">{{option.option}}</ion-label>

                      <ion-radio
                        slot="start"
                        [value]="option.is_correct"
                      ></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-fab
              vertical="bottom"
              horizontal="end"
              style="position: fixed;"
            >
              <ion-fab-button shape="square">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
