<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <h1>References (Notes)</h1>
      </ion-col>
      <ion-col offset="1">
        <mat-form-field class="select">
          <mat-label>Select Batch</mat-label>
          <mat-select
            [(ngModel)]="selectedCourse"
            (selectionChange)="getCourse()"
            [compareWith]="compareObjects"
          >
            <mat-option *ngFor="let course of courseList" [value]="course"
              >{{course.program}} {{course.course_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>

      <ion-col size="auto">
        <ion-searchbar
          class="searchBar"
          placeholder="Select Batch"
          [(ngModel)]="search"
          (ionChange)="getNote()"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-card class="card">
      <ion-card-content class="ion-no-padding">
        <ion-list>
          <ion-col offset="1">
            <mat-form-field class="selectTopic">
              <mat-label> Select Topic</mat-label>

              <mat-select
                [(ngModel)]="selectedTopic"
                (selectionChange)="getNote()"
              >
                <mat-option *ngFor="let topic of topics" [value]="topic">
                  {{topic.topic_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-grid>
            <ion-row>
              <ion-col *ngIf="noteList?.length===0" offset="4">
                <img src="../../assets/New writen Note.svg" alt="" />
                <ion-text>
                  <h2 class="font">No Note Added Yet.</h2>
                  <p>Create a New Note from the Button Down Bellow..</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item *ngFor="let note of noteList">
            <ion-grid>
              <ion-row>
                <ion-col sizedMd="auto" class="column-right">
                  <ion-button fill="clear">
                    <ion-icon name="pencil"></ion-icon>
                  </ion-button>

                  <ion-button fill="clear">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="title">
                  {{note.title}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="description" [innerHTML]="note.content">
                  {{note.content}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newDraft()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
